
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

        <title>Phòng cháy chữa cháy Quảng Nam</title>

        <!-- Favicon -->
        <link href="resources/favicon/favicon.ico" rel="icon">
        <!-- Bootstrap core CSS -->
        <link href="resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Additional CSS Files -->
        <link href="resources/css/fontawesome.css" rel="stylesheet">
        <link href="resources/css/templatemo-style.css" rel="stylesheet">
        <link href="resources/css/owl.css" rel="stylesheet">
        <style>
            .back-to-top{
                font-size: 30px;
            }
            @media screen and (max-width: 900px){
                #header .logo a {
                    font-size: 15px;
                }
            }
            .service-item{
                min-height: 350px;
            }
            .table td, .table th{
                text-align: center;
            }
            .box {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 800px;
                height: 0px;
                /*background-color: red;*/
            }
        </style>
    </head>


    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Main =======================================================-->
            <div id="main">
                <div class="inner">

                    <!-- Header -->
                    <header id="header">
                        <div class="logo">
                            <!--<img src="/pc07quangnam/resources/images/logo.jpg" alt="logo"/>-->
                            <div class="box">
                                <a href="index.html">Cảnh sát PCCC & CNCH Quảng Nam</a>
                            </div>
                        </div>
                    </header>

                    <span style="color: orangered; font-size: larger;"> 


                        <!--part 2 ==================================================================-->
                        <!--part 3 ==================================================================-->     

                        <!-- Start Services ===========================================-->
                        <section class="services">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="service-item first-item">
                                            <div class="icon"></div>
                                            <h4><a href="https://docs.google.com/spreadsheets/d/16N4LQKEzvjZxhPL8Ff3t3bTYFlXLndA-?rtpof=true&usp=drive_fs" target="_blank">Danh bạ liên hệ và Lực lượng PCCC dân phòng</a></h4>
                                            <p>Danh bạ liên hệ các địa phương; lực lượng PCCC dân phòng.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="service-item second-item">
                                            <div class="icon"></div>
                                            <h4><a href="https://www.google.com/maps/d/edit?hl=vi&mid=1u8IePfpJrLZXJ9MI-ymOu2Ky5CJ3bIA&ll=15.572379793600627%2C108.47376744386769&z=16" target="_blank">Giao thông, Nguồn nước</a></h4>
                                            <p>Quản lý giao thông, nguồn nước phục vụ công tác chữa cháy.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="service-item third-item">
                                            <div class="icon"></div>
                                            <h4><a href="https://docs.google.com/spreadsheets/d/17-8wnoadjBAuAPct_7ASXSxNka-6Y9al?rtpof=true&usp=drive_fs" target="_blank">Lực lượng phối hợp và phương tiện huy động</a></h4>
                                            <p>Lực lượng phối hợp và phương tiện dự kiến có thể huy động.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="service-item fourth-item">
                                            <div class="icon"></div>
                                            <h4><a href="https://docs.google.com/spreadsheets/d/16_BkJZreBHwJXaPqy4SENh42Otc8MucN?rtpof=true&usp=drive_fs"  target="_blank">Theo dõi số điện thoại quấy rối</a></h4>
                                            <p>Theo dõi số điện thoại quấy rối, báo cháy giả</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="service-item fivth-item">
                                            <div class="icon"></div>
                                            <h4><a href="https://docs.google.com/spreadsheets/d/16t229J1vn5SbbAra8zthLG9Sgzl76sng?rtpof=true&usp=drive_fs" target="_blank">Quản lý Cơ sở PC07</a></h4>
                                            <p>Quản lý hồ sơ cơ sở, thẩm duyệt, nghiệm thu, kiểm tra, xử lý VPHC về PCCC.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="service-item sixth-item">
                                            <div class="icon"></div>
                                            <h4><a href="https://docs.google.com/spreadsheets/d/1N0auCZQWc5PQGdbvoD4oaz1jjmiP6i4yh3cuxbkkWTo/edit#gid=130304785" target="_blank">Tổng hợp Cơ sở - Quảng Nam</a></h4>
                                            <p>Quản lý cơ sở toàn tỉnh, gồm: Cơ sở PC07, cơ sở Công an các địa phương phụ trách</p>
                                        </div>
                                    </div>                                    
                                    <div class="col-md-4">
                                        <div class="service-item first-item">
                                            <div class="icon"></div>
                                            <h4><a href="https://docs.google.com/spreadsheets/d/1rUI-t1AWEQY50xS2ok8wB-lY7mhS3yVKJqxKDspkKDg/edit#gid=0" target="_blank">Phương án chữa cháy - PC07</a></h4>
                                            <p>Phương án chữa cháy các cơ sở do PC07 quản lý</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="service-item second-item">
                                            <div class="icon"></div>
                                            <h4><a href="https://docs.google.com/spreadsheets/d/119TPwIyfIQhH-4t9UDbfDjdg9AW2XKag4HOT23H_m28/edit#gid=1913384648" target="_blank">Phương án chữa cháy - huyện</a></h4>
                                            <p>Phương án chữa cháy các cơ sở do các huyện quản lý</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="service-item third-item">
                                            <div class="icon"></div>
                                            <h4><a href="tinhHinhChayNo.html" target="_blank"> Tình hình cháy nổ</a></h4>
                                            <p>Tình hình cháy nổ trên địa bàn tỉnh qua các năm</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="service-item fourth-item">
                                            <div class="icon"></div>
                                            <h4><a href="" target="_blank"> &nbsp;</a></h4>
                                            <p></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="service-item fivth-item">
                                            <div class="icon"></div>
                                            <h4><a href="" target="_blank"> &nbsp;</a></h4>
                                            <p></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="service-item sixth-item">
                                            <div class="icon"></div>
                                            <h4><a href="" target="_blank"> &nbsp;</a></h4>
                                            <p></p>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </section>
                        <!-- End Services ===========================================-->  

                        <!--part 4 ==================================================================-->
                        <!--part 5 ==================================================================-->






                </div>
            </div>
            <!--2 the div line 7, 8, 129 la close tag of  tag div in header.jsp, line 31, 33, 34-->

            <!-- Start Sidebar ====================================================-->
            <div id="sidebar">
                <div class="inner">

                    <!-- Search Box -->
                    <section id="search" class="alt">
                        <form method="get" action="/pc07quangnam/page/searchFreedom">
                            <input type="text" name="keyword" id="search" placeholder="Search..." />
                        </form>
                    </section>

                    <!-- Menu -->
                    <nav id="menu">
                        <ul>
                            <li>

                                <span class="opener"><i class="fa fa-user" aria-hidden="true">&nbsp; PC07 Quảng Nam</i> </span>
                                

                                <ul>
                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"> Login</i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"> Admin Page</i></a></li>

                                    <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"> Register</i></a></li>
                                    <li> <a href="#"><i class="fa fa-sign-out" aria-hidden="true"> Logout</i></a></li>
                                </ul>
                            </li>
                            <li><a href="index.html">Trang chủ</a></li>
                            <li><a href="#" target="_blank">Giới thiệu</a></li>
                            <li>
                                <span class="opener">Tổ chức</span>
                                <ul>
                                    <li><a href="#" target="_blank">Đội 1 - Tham mưu</a></li>
                                    <li><a href="#" target="_blank">Đội 2 - Kiểm tra</a></li>
                                    <li><a href="#" target="_blank">Đội 3 - Trung tâm</a></li>
                                    <li><a href="#" target="_blank">Đội 4 - Hậu cần</a></li>
                                    <li><a href="#" target="_blank">Đội 5 - Bắc Quảng Nam</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="opener">Đoàn - Hội</span>
                                <ul>
                                    <li><a href="#" target="_blank">Đoàn Thanh niên</a></li>
                                    <li><a href="#" target="_blank">Hội Phụ nữ</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="opener">Nghiệp vụ</span>
                                <ul>
                                    <li><a href="#" target="_blank">Phòng cháy</a></li>
                                    <li><a href="#" target="_blank">Chữa cháy</a></li>
                                    <li><a href="#" target="_blank">Cứu nạn, cứu hộ</a></li>
                                    <li><a href="#" target="_blank">Tuyên truyền PCCC</a></li>
                                    <li><a href="#" target="_blank">Huấn luyện PCCC</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="opener">Tài liệu</span>
                                <ul>
                                    <li><a href="#" target="_blank">Documents</a></li>
                                    <li><a href="#" target="_blank">Hướng dẫn</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>

                    <!-- Start Featured Posts =====================================-->
                    <div class="featured-posts">
                        <div class="heading">
                            <h2>Featured Posts</h2>
                        </div>
                        <div class="owl-carousel owl-theme">
                            <a href="#">
                                <div class="featured-item">
                                    <img id="myImage" src="resources/images/logo.jpg" alt="featured one">
                                    <p>The first post</p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="featured-item">
                                    <img src="resources/images/logo.jpg" alt="featured two">
                                    <p>The second post</p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="featured-item">
                                    <img src="resources/images/logo.jpg" alt="featured three">
                                    <p>The third post</p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="featured-item">
                                    <img src="resources/images/logo.jpg" alt="featured three">
                                    <p>The 4th post</p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="featured-item">
                                    <img src="resources/images/logo.jpg" alt="featured three">
                                    <p>The 5th post</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Featured Posts =====================================-->             

                    <!-- Start Footer =============================================-->
                    <footer id="footer">
                        <p class="copyright">Copyright &copy; 2021 <br>Phòng Cảnh sát PCCC & CNCH Quảng Nam.
                            <br><a rel="nofollow" href="#" target="_blank">121 Trưng Nữ Vương, tp.Tam Kỳ, Quảng Nam.</a></p>
                    </footer>
                    <!-- end Footer =============================================-->
                </div>
            </div>
            <!-- End Sidebar ============================================-->
        </div>                       

        <!-- Scripts -->
        <!-- Bootstrap core JavaScript -->
        <script src="resources/jquery/jquery.min.js"></script>
        <script src="resources/bootstrap/js/bootstrap.bundle.min.js"></script>

        <script src="resources/js/browser.min.js"></script>
        <script src="resources/js/breakpoints.min.js"></script>
        <script src="resources/js/transition.js"></script>
        <script src="resources/js/owl-carousel.js"></script>
        <script src="resources/js/custom.js"></script>
        <script>
            var images = [
                "resources/images/logo.jpg",
                "resources/images/Bac-Ho-1.jpg",
                "resources/images/Bac-Ho-2.jpg",
                "resources/images/Bac-Ho-3.jpg",
                "resources/images/Bac-Ho-4.jpg"
            ];
            var img = document.getElementById("myImage");
            var index = 0;
            setInterval(
                    function () {
                        index++;
                        if (index >= images.length) {
                            index = 0;
                        }
                        img.src = images[index];
                    }
            , 2000);
        </script>
        <script>
            const box = document.querySelector('.box');
            let position = 0;
            let direction = 1;

            setInterval(moveBox, 0);

            function moveBox() {
                position += direction;
                box.style.left = position + 'px';

                if (position >= window.innerWidth - box.offsetWidth || position <= 0) {
                    direction = -direction;
                }
            }
        </script>
    </body>
</html> 